[Desktop Entry]
Name=Clipboard Manager
GenericName=Clipboard Manager
Comment=Clipboard history manager
Exec=clipmgr --show
Icon=clipmgr
Type=Application
Categories=Utility;GTK;
Keywords=clipboard;copy;paste;history;text;
StartupNotify=false
NoDisplay=false
