[Desktop Entry]
Name=Clipboard Manager
GenericName=Clipboard Manager
Comment=Clipboard history manager
Exec=clipmgr --show
Icon=edit-paste
Type=Application
Categories=Utility;
Keywords=clipboard;copy;paste;history;text;
StartupNotify=false
StartupWMClass=clipmgr
NoDisplay=false
